body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    }

.header {
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 230, 227);
    background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
    text-align: center;
  }

  .header-title {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin: auto;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
    display: flex;
  }
 
  .content {
    font-size: 0;
    /*background-color: rgb(110, 163, 152);*/
    width: 790px;
    margin: 100px auto 50px;
}

  .card {
    width: 350px;
    /*background-color: rgb(41, 28, 119);*/
    color: rgb(102, 2, 141);
    margin-bottom: 60px;
    margin-top: 60px;
    margin-right: 90px;
    padding: 45px 45px 70px;
    /*border: double 2px rgba(204, 0, 255, 0.76);*/
    display: inline-block;
    box-shadow: 3px 3px 5px rgb(129, 0, 235);
   }

   .no-right-margin {
    margin-right: 0;
   }

  .card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 16px;
  }

  .card-image {
    width: 100%;
    margin-bottom: 25px;
  }

.footer {
    height: 300px;
    background-color: rgb(47, 0, 85);
    display: flex;
}
.footer-author {
    color: white;
    font-size: 27px;
    font-weight: normal;
    margin: auto;
}